<div class="row animated fadeInDown">
  <div class="col-md-12 pb-3">
    <p class="pt-2">Formulário de extensão</p>
      <form class="needs-validation" [formGroup]="extensionForm">
        <p class="card-description">
          Uma breve descrição sobre o que é uma extensão, suas qualidades e vantagens...
        </p>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="row">
              <p class="col-sm-3 p-12px text-muted">Título</p>
              <div class="col-sm-9">
                <input placeholder="Escolha um título para seu evento" formControlName="title" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="row">
              <p class="col-sm-3 p-12px text-muted">Descrição</p>
              <div class="col-sm-9">
                <textarea rows="5" placeholder="O que você deseja publicar" formControlName="description" type="text" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="row">
              <p class="col-sm-2 col-md-3 col-lg-3 p-12px text-muted">Tags</p>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <ng-select formControlName="tags" class="form-control form-control-fixed"
                  [items]="search$ | async"
                  [addTag]="loggedUser?.manager"
                  bindLabel="title"
                  bindValue="id"
                  [multiple]="true"
                  [hideSelected]="true"
                  [trackByFn]="trackByFn"
                  [loading]="searchLoading"
                  [typeahead]="searchInput$"
                  placeholder="Selecione uma tag"
                  [(ngModel)]="selectedTags">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="row">
              <p class="col-sm-2 col-md-3 col-lg-3 p-12px text-muted">Campus</p>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <ng-select formControlName="campusId" class="form-control form-control-fixed"
                  [items]="searchCampus$ | async"
                  [addTag]="loggedUser?.manager"
                  bindLabel="name"
                  bindValue="id"
                  [multiple]="false"
                  [hideSelected]="true"
                  [trackByFn]="trackByFn"
                  [loading]="searchLoadingCampus"
                  [typeahead]="searchInputCampus$"
                  placeholder="Selecione um campus"
                  [(ngModel)]="selectedCampus">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="row">
              <p class="col-sm-2 col-md-3 col-lg-3 p-12px text-muted">Logo</p>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <dropzone id="dropzone" [config]="config" [message]="'Clique ou arraste para importar'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-6 d-flex">
            <button [disabled]="loading" (click)="create()" class="btn btn-success btn-sm mr-3">
              <span *ngIf="!loading">Criar</span>
              <span *ngIf="loading"><i class=" mdi mdi-loading mdi-spin"></i></span>
            </button>
            <button routerLink="/main/extension"  class="btn btn-sm btn-light">Voltar</button>
          </div>
        </div>
      </form>
  </div>
</div>
<app-alert-display *ngIf="isCreated || hasServerError || (formError && submitted)"
  [created]="isCreated"
  [serverError]="hasServerError"
  [formError]="formError"
  [page]="'form'"
  (closeType)="closeAlertDisplay($event)">
</app-alert-display>