<div class="header">
  <div class="row" style="margin-top: -16px">
    <div class="col-md-3"><label class="title-header ml-4">Conquistas</label></div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Pesquiser missão...">
      </div>
    </div>
    <div class="col-md-4 text-right mt-2px">
      <div class="btn-group mr-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-sm btn-danger"><i class="mdi mdi-chevron-left"></i>  Voltar</button>
      </div>
    </div>
  </div>
</div>