<!-- <div class="header">
  <div class="row" style="margin-top: -16px">
    <div class="col-md-3"><label class="title-header ml-4">{{title}}</label></div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Pesquiser turma...">
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="btn-group mr-4" role="group">
        <button type="button" (click)="showMyClass(showingMyClass)" class="btn btn-sm btn-warning"><i class="mdi mdi-account-multiple"></i>  Minhas turmas</button>
        <butto  type="button" (click)="showMyClass(showingMyClass)" class="btn btn-sm btn-danger"><i class="mdi mdi-close"></i>  Voltar</button>
      </div>
    </div>
  </div>
</div> -->