<div id="sidebar"  class="sidenav">
  <a class="nav-link text-right">
    <i class="mdi mdi-close pointer" onclick="closeNav()"></i>
  </a>
  <a class="nav-link" style="padding-top: 10%;">
    <img width="80px;" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Logo-upe-site.png" alt="logo">
  </a>
  <a class="nav-link pt-3 d-flex" routerLink="./">
    <p class="font-weight-medium">Home</p>
    <!-- <button class="btn btn-xs btn-dark" style="position: absolute; right: 2rem;"><i class="mdi mdi-flag pointer"></i></button> -->
  </a>
  <a class="nav-link" routerLink="./board">
    <p class="font-weight-medium">Publicações</p>
  </a>
  <a class="nav-link" routerLink="./extension">
    <p class="font-weight-medium">Extensão</p>
  </a>
  <a class="nav-link" routerLink="./board">
    <p class="font-weight-medium">Monitoria [teste]</p>
  </a>
  <a class="nav-link" routerLink="./manager">
    <p class="font-weight-medium">Gestão</p>
  </a>
  <a class="nav-link" routerLink="./extension">
    <p class="font-weight-medium">Ajuda</p>
  </a>
</div>
<div *ngIf="loggedUser && !loading" class="container-scroller">
  <div class="container-fluid pl-0">
    <div class="row fill-height">
      <!-- <div class="col-md-2 side-color" onmousemove="openNav()" onmouseout="closeNav()">
        <nav class="sidebar sidebar-offcanvas sidenav" id="sidebar" style="position: fixed">
          <ul class="nav">
            <li class="nav-item nav-profile nav-item-hover side-top-color mb-3">
              <div class="row">
                <div class="col-8">
                  <span class="mt-1 pointer"><img style="width:55px" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Logo-upe-site.png" alt=""></span>
                </div>
                <div class="col-4 d-flex text-white mt-1">
                  <i class="mdi mdi-format-line-weight icon-sm ml-1"></i>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="row" style="margin-left: 0.05rem">
                <div class="col-7">
                    <a class="nav-link" routerLink="./">
                      <p class="font-weight-medium">Home</p>
                    </a>
                </div>
                <div class="col-5">
                  <button type="button" class="btn btn-icons btn-success no-border">
                    <i class="menu-icon mdi mdi-home-outline"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="row" style="margin-left: 0.05rem">
                <div class="col-7">
                  <a class="nav-link" routerLink="./board">
                    <p class="font-weight-medium">Publicações</p>
                  </a>
                </div>
                <div class="col-5">
                  <button type="button" class="btn btn-icons btn-dark no-border">
                    <i class="menu-icon mdi mdi-earth"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="row" style="margin-left: 0.05rem">
                <div class="col-7">
                  <a class="nav-link" routerLink="./extension">
                    <p class="font-weight-medium">Extensão</p>
                  </a>
                </div>
                <div class="col-5">
                  <button type="button" class="btn btn-icons btn-dark no-border">
                    <i class="menu-icon mdi mdi-account-network"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="row" style="margin-left: 0.05rem">
                <div class="col-7">
                  <a class="nav-link" routerLink="./manager">
                    <p class="font-weight-medium">Gestão</p>
                  </a>
                </div>
                <div class="col-5">
                  <button type="button" class="btn btn-icons btn-dark no-border">
                    <i class="menu-icon mdi mdi-account-outline"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="row" style="margin-left: 0.05rem">
                <div class="col-7">
                  <a class="nav-link" routerLink="./extension">
                    <p class="font-weight-medium">Ajuda</p>
                  </a>
                </div>
                <div class="col-5">
                  <button type="button" class="btn btn-icons btn-dark no-border">
                    <i class="menu-icon mdi mdi-information-outline"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div> -->
      <div class="col-md-12 p-0">
        <div class="" >
          <div style="min-height: 90%">
            <nav class="navbar default-layout header-theme col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
              <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <i class="mdi mdi-menu icon-md p-2 pointer" onclick="openNav()"></i>
                <a class="navbar-brand brand-logo" routerLink="/main">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Logo-upe-site.png" alt="logo">
                </a>
                <a class="navbar-brand brand-logo-mini" routerLink="/main">
                  <!-- <img src="../../images/logo-mini.svg" alt="logo"> -->
                </a>
              </div>
              <div class="navbar-menu-wrapper d-flex align-items-center header-theme" style="border-bottom: none;">
                <ul class="navbar-nav navbar-nav-right">
                  <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                      <i class="mdi mdi-file-document-box icon-sm"></i>
                      <span class="count">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                      <div class="dropdown-item">
                        <p class="mb-0 font-weight-normal float-left">Você tem 7 mensagens não lidas
                        </p>
                        <span class="badge badge-info badge-pill float-right">Ver todas</span>
                      </div>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <img src="../../../assets/simpleDatabase/default_user.jpg" alt="image" class="profile-pic">
                        </div>
                        <div class="preview-item-content flex-grow">
                          <h6 class="preview-subject ellipsis font-weight-medium text-dark">David Grey
                            <span class="float-right font-weight-light small-text">1 min atrás</span>
                          </h6>
                          <p class="font-weight-light small-text">
                            Não haverá aula dia xx/xx/xxx
                          </p>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <img src="../../../assets/simpleDatabase/default_user.jpg" alt="image" class="profile-pic">
                        </div>
                        <div class="preview-item-content flex-grow">
                          <h6 class="preview-subject ellipsis font-weight-medium text-dark">Tim Cook
                            <span class="float-right font-weight-light small-text">15 min atrás</span>
                          </h6>
                          <p class="font-weight-light small-text">
                            Reunião de trabalho APS
                          </p>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <img src="../../../assets/simpleDatabase/default_user.jpg" alt="image" class="profile-pic">
                        </div>
                        <div class="preview-item-content flex-grow">
                          <h6 class="preview-subject ellipsis font-weight-medium text-dark"> Johnson
                            <span class="float-right font-weight-light small-text">18 min atrás</span>
                          </h6>
                          <p class="font-weight-light small-text">
                            Volta as aulas
                          </p>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                      <i class="mdi mdi-bell icon-sm"></i>
                      <span class="count">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                      <a class="dropdown-item">
                        <p class="mb-0 font-weight-normal float-left">Você tem 4 novas notificações
                        </p>
                        <span class="badge badge-pill badge-warning float-right">Ver todas</span>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-success">
                            <i class="mdi mdi-alert-circle-outline mx-0"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <h6 class="preview-subject font-weight-medium text-dark">Nova tarefa</h6>
                          <p class="font-weight-light small-text">
                            Agora
                          </p>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-warning">
                            <i class="mdi mdi-comment-text-outline mx-0"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <h6 class="preview-subject font-weight-medium text-dark">Novo evento adicionado</h6>
                          <p class="font-weight-light small-text">
                            2 dias atrás
                          </p>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-info">
                            <i class="mdi mdi-email-outline mx-0"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <h6 class="preview-subject font-weight-medium text-dark">Notas no siga</h6>
                          <p class="font-weight-light small-text">
                            2 dias atrás
                          </p>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item dropdown d-none d-xl-inline-block">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                      <span *ngIf="loggedUser && !loading" class="profile-text text-capitalize">{{loggedUser?.firstName}} {{loggedUser?.lastName}}</span>
                      <span *ngIf="!loggedUser || loading" class="profile-text"><i class=" mdi mdi-loading mdi-spin"></i></span>
                      <img *ngIf="loggedUser?.photo" class="img-xs rounded-circle" src="{{loggedUser?.photo}}" alt="Profile image">
                      <img *ngIf="!loggedUser?.photo" class="img-xs rounded-circle" src="../../../assets/simpleDatabase/default_user.jpg" alt="Profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                      <a class="dropdown-item p-0">
                        <div class="d-flex border-bottom">
                          <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                            <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                          </div>
                          <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                            <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                          </div>
                          <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                            <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item mt-2" routerLink = "./profile/{{loggedUser?.id}}">  
                        Perfil 
                      </a>
                      <a class="dropdown-item">
                        Trocar password
                      </a>
                      <a class="dropdown-item">
                        Configuração
                      </a>
                      <a class="dropdown-item pointer" (click)="loggout()">
                        Logout
                      </a>
                    </div>
                  </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                  <span class="mdi mdi-menu"></span>
                </button>
              </div>
            </nav>
            <div class="content-wrapper" id="content">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>