<div class="jumbotron cover-photo" data-social="cover" data-pages="parallax" data-scroll-element=".page-container">
  <div class="container pull-bottom">
    <h5 class="text-white no-margin">{{selectedUser?.email}}</h5>
    <h1 class="text-white no-margin">
      <span class="font-weight-bold ">{{selectedUser?.firstName}}</span>
      <span> {{selectedUser?.lastName}}</span>
    </h1>
  </div>
  <button class="btn btn-xs btn-primary float-right">Editar</button>
</div>
<div class="row animated fadeInDown pb-3">
  <div class="col-md-8">
    <div class="card box-shadow">
      <div class="card-body">
        <h4>Olá grupo!</h4>
        <p class="text-gray">
          <span class="weather-date">Publicado em 31 de agosto dde 2019, </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card box-shadow">
        <div class="card-body">
          <span class="card-title">Eventos</span>
          <div *ngIf="loading">
            <div class="display-3 text-center mt-5 pt-5 text-muted">
              <i class=" mdi mdi-loading mdi-spin text-muted"></i>
            </div>
          </div>
        </div>
        <div class="fluid-container scroll border-top">
          <div *ngIf="!loading && eventList && eventList.length > 0" class="animated fadeIn">
            <div *ngFor="let event of eventList | filter: filter; let i = index" class="row ticket-card border-bottom pointer p-2 align-items-center">
              <div class="ticket-details col-md-6">
                  <p class="text-dark mr-2 mb-0 ellipsis">{{event?.title}}</p>
                <p class="text-gray ellipsis mb-0">{{event?.local}}</p>
              </div>
              <div class="col-md-6 text-right"> 
                <p class="text-gray ellipsis">{{event?.startDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>