<div class="row animated fadeIn">
  <div class="col-md-4 text-center mt-5">
    <div class="card-body">
      <h4 class="card-title">Gerenciar usuários</h4>
      <div class="media">
        <i class="mdi mdi-account-multiple icon-md text-info d-flex align-self-start mr-3"></i>
        <div class="media-body">
          <p class="card-text">Informações detalhadas do perfil de todos os usuários cadastrados no sistema.</p>
        </div>
      </div>
      <button routerLink="./user" class="btn btn-success mt-3">Gerenciar</button>
    </div>
  </div>
  <div class="col-md-4 text-center mt-5 display-1">
    <div class="card-body">
      <h4 class="card-title">Gerenciar notícias</h4>
      <div class="media">
        <i class="mdi mdi-file-document-box icon-md text-info d-flex align-self-start mr-3"></i>
        <div class="media-body">
          <p class="card-text">Aqui você pode visualizar, editar e criar notícias para sua universidade.</p>
        </div>
      </div>
      <button routerLink="./news" class="btn btn-success mt-3">Gerenciar</button>
    </div>
  </div>
  <div class="col-md-4 text-center mt-5 display-1">
    <div class="card-body">
      <h4 class="card-title">Gerenciar Eventos</h4>
      <div class="media">
        <i class="mdi mdi-calendar icon-md text-info d-flex align-self-start mr-3"></i>
        <div class="media-body">
          <p class="card-text">Aqui você pode visualizar, editar e criar eventos para sua universidade.</p>
        </div>
      </div>
      <button routerLink="./event" class="btn btn-success mt-3">Gerenciar</button>
    </div>
  </div>
</div>
