<div class="header">
  <div class="row" style="margin-top: -16px">
    <div class="col-md-2"><label class="title-header ml-4">Gestão</label></div>
    <div class="col-md-6"></div>
    <div class="col-md-4 text-right mt-2px">
      <div class="btn-group mr-4" role="group" aria-label="Basic example">
        <button routerLink="/main" type="button" class="btn btn-sm btn-danger"><i class="mdi mdi-chevron-left"></i>  Voltar</button>
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn">
  <div class="col-md-4 text-center mt-5">
    <div class="card-body">
      <h4 class="card-title">Gerenciar usuários</h4>
      <div class="media">
        <i class="mdi mdi-account-multiple icon-md text-info d-flex align-self-start mr-3"></i>
        <div class="media-body">
          <p class="card-text">Informações detalhadas do perfil de todos os usuários cadastrados no sistema.</p>
        </div>
      </div>
      <button routerLink="./user" class="btn btn-success mt-3">Gerenciar</button>
    </div>
  </div>
  <div class="col-md-4 text-center mt-5 display-1">
    <div class="card-body">
      <h4 class="card-title">Gerenciar missões</h4>
      <div class="media">
        <i class="mdi mdi-file-document-box icon-md text-info d-flex align-self-start mr-3"></i>
        <div class="media-body">
          <p class="card-text">É possível criar missões personalizadas para o jogo. Mas calma, existem regras!!</p>
        </div>
      </div>
      <button routerLink="./quest" class="btn btn-success mt-3">Gerenciar</button>
    </div>
  </div>
  <div class="col-md-4 text-center mt-5 display-1">
    <div class="card-body">
      <h4 class="card-title">Gerenciar tags</h4>
      <div class="media">
        <i class="mdi mdi-cloud-upload icon-md text-info d-flex align-self-start mr-3"></i>
        <div class="media-body">
          <p class="card-text">Importar uma planilha de usuários iniciais. Aqui você pode definir os gestores do jogo.</p>
        </div>
      </div>
      <button class="btn btn-success mt-3">Gerenciar</button>
    </div>
  </div>
</div>
