<div class="row">
  <div class="col-md-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/main">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Publicações</li>
      </ol>
    </nav>
  </div>
  <div class="col-md-6">
    <button *ngIf="loggedUser?.manager" routerLink="/main/board/form" type="button" class="btn btn-xs btn-success float-right">
      <i class="mdi mdi-plus"></i> Criar
    </button>
    <button routerLink="/main" type="button" class="btn btn-xs btn-danger float-right mr-2">
      <i class="mdi mdi-chevron-left"></i> Voltar
    </button>
  </div>
</div>
<div class="row animated fadeInDown">
  <div class="col-md-12 " style="padding-top: 0px !important">
    <div class="card box-shadow">
      <div class="card-body">
        <span class="card-title">
          <small>Publicações</small>
          <!-- <button routerLink="/main/board/form" type="button" class="btn btn-xs btn-success float-right"><i class="mdi mdi-plus"></i>Criar</button> -->
        </span>
        <!-- LOADING -->
        <div *ngIf="loading">
          <div *ngFor="let skt of skeleton" class="row ticket-card pb-3 border-bottom pb-3 mb-3">
            <div class="col-md-1 mb-3"> 
              <div class="progress">
                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-10 mb-3"> 
              <div class="progress">
                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-1 mb-3"> 
              <div class="progress">
                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- LOADING -->
      <div *ngIf="!loading && publicationList.length == 0" class="ticket-card text-center animated fadeIn">
        <div *ngIf="hasServerError">
          <h4 (click)="list()" class="mt-5 text-muted pointer"><i class="mdi mdi-link-variant-off" aria-hidden="true"></i></h4>
          <p  (click)="list()" class="text-muted pointer">Tentar reconectar</p>
        </div>
        <div *ngIf="!hasServerError">
          <h4 class="mt-5 text-muted pointer"><i class="mdi mdi-earth" aria-hidden="true"></i></h4>
          <p class="text-muted pointer">Não há nada aqui</p>
        </div>
      </div>
      <div *ngIf="!loading && publicationList != null && publicationList.length > 0" class="fluid-container scroll">
        <div class="animated fadeIn">
          <div routerLink="./detail/{{publication?.id}}" *ngFor="let publication of publicationList | filter: filter; let i = index" class="row ticket-card border-bottom pointer p-3 align-items-center">
            <div class="col-md-1">
              <img class="img-sm rounded-circle mb-4 mb-md-0" src="{{publication?.creator?.photo}}" alt="profile image">
            </div>
            <div class="ticket-details col-md-8">
                <p class="text-dark mr-2 mb-0 ellipsis">{{publication?.title}}</p>
              <p class="text-gray ellipsis mb-0">{{publication?.description}}.</p>
              <div class="row text-gray d-md-flex d-none">
                <div class="col-12 d-flex">
                  <span *ngFor="let tag of publication?.tags">
                    <span (click)="visitTag(tag)" tooltip="{{tag?.description}}" [options]="tooltipOpt" class="badge badge-{{tag?.color}} ml-1">{{tag?.title}}</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3"> 
              <p class="text-primary mr-1 mb-0 pull-right">
                <span><i class="mdi mdi-reply"></i></span> {{publication?.comments?.length}}
              </p>
              <p class="text-success mr-1 mb-0 pull-right">
                <span><i class="mdi mdi-star"></i></span> {{publication?.likes}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>