  <div style="display:none" class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body ">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-xbox-controller text-danger icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">Meus prontos</p>
              <div class="fluid-container">
                <h3 *ngIf="user" class="font-weight-medium text-right mb-0">{{user?.status?.score}}</h3>
              </div>
            </div>
          </div>
          <p class="text-muted mt-3 mb-0">
            <span *ngIf="user"><i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Pontos do 1º lugar: 0</span>
            <span *ngIf="!user"><i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Erro na conexão</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-lightbulb text-primary icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">XP</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{{user?.status?.xp}}</h3>
              </div>
            </div>
          </div>
          <p class="text-muted mt-3 mb-0">
            <span *ngIf="user"><i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Próximo lvl: 10</span>
            <span *ngIf="!user"><i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Erro na conexão</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-trophy text-success icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">Ranking</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{{user?.status?.ranking}}</h3>
              </div>
            </div>
          </div>
          <p class="text-muted mt-3 mb-0">
            <span *ngIf="user"><i class="mdi mdi-trending-neutral mr-1" aria-hidden="true"></i> Subiu 0 posições</span>
            <span *ngIf="!user"><i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Erro na conexão</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-sword text-info icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">Lvl</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{{user?.status?.level}}</h3>
              </div>
            </div>
          </div>
          <p class="text-muted mt-3 mb-0">
            <span *ngIf="user"><i class="mdi mdi-trending-neutral mr-1" aria-hidden="true"></i> Subiu 0 niveis</span>
            <span *ngIf="!user"><i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Erro na conexão</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- //NOTICIAS -->
  <div class="row animated fadeInDown">
    <div class="col-lg-7 col-md-7">
      <div *ngIf="newsList.length == 0">
        <div class="card scroll box-shadow">
          <div class="card-body">
            <h4 class="card-title">Notícias</h4>
            <!-- <p class="card-description text-muted">Notícias da sua universidade</p> -->
            <div *ngIf="loading">
                <div class="display-3 text-center mt-5 pt-5 text-muted">
                  <i class=" mdi mdi-loading mdi-spin text-muted"></i>
                </div>
            </div>
            <div *ngIf="!loading" class="ticket-card text-center animated fadeIn">
              <div *ngIf="hasServerError">
                <h4 (click)="list()" class="mt-5 text-muted pointer"><i class="mdi mdi-link-variant-off" aria-hidden="true"></i></h4>
                <p  (click)="list()" class="text-muted pointer">Tentar reconectar</p>
              </div>
              <div *ngIf="!hasServerError">
                <h4 class="mt-5 text-muted pointer"><i class="mdi mdi-earth" aria-hidden="true"></i></h4>
                <p class="text-muted pointer">Não há nada aqui</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!loading && newsList.length > 0" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="card box-shadow" style="border-bottom: none">
          <div class="card-body">
            <span class="card-title">Notícias</span>
            <div *ngIf="loading">
              <div class="display-3 text-center mt-5 pt-5 text-muted">
                <i class=" mdi mdi-loading mdi-spin text-muted"></i>
              </div>
            </div>
          </div>
        </div>  
        <div class="carousel-inner box-shadow">
          <div *ngFor="let news of newsList;  let i = index" class="carousel-item" [ngClass]="{'active' : i == 0}">
              <div  class="card scroll">
                <div class="card-body">
                  <div class="weather-date-location">
                    <h3>{{news?.title}}</h3>
                    <p class="text-gray">
                      <span class="weather-date">Publicado em {{news?.createdAt}}</span>
                    </p>
                  </div>
                  <span class="display-3" [innerHTML]="news?.description" ></span>
                </div>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>
    <div class="col-lg-5 col-md-5">
      <div class="card box-shadow">
        <div class="card-body">
          <span class="card-title">Eventos</span>
          <div *ngIf="loading">
            <div class="display-3 text-center mt-5 pt-5 text-muted">
              <i class=" mdi mdi-loading mdi-spin text-muted"></i>
            </div>
          </div>
        </div>
        <div class="fluid-container scroll border-top">
          <div *ngIf="!loading && eventList && eventList.length > 0" class="animated fadeIn">
            <div *ngFor="let event of eventList | filter: filter; let i = index" class="row ticket-card border-bottom pointer p-2 align-items-center">
              <div class="ticket-details col-md-6">
                  <p class="text-dark mr-2 mb-0 ellipsis">{{event?.title}}</p>
                <p class="text-gray ellipsis mb-0">{{event?.local}}</p>
              </div>
              <div class="col-md-6 text-right"> 
                <p class="text-gray ellipsis">{{event?.startDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-lg-4">
      <div class="card box-shadow bg-success">
        <div class="card-body">
          <p>Ranking</p>
          <div class="table-responsive">
          <div *ngIf="loading">
              <div class="display-3 text-center mt-5 pt-5 text-muted">
                <i class=" mdi mdi-loading mdi-spin text-muted"></i>
              </div>
            </div>
            <table *ngIf="!loading && ((pod && pod.length > 0))" class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Nome
                  </th>
                  <th>
                    Level
                  </th>
                  <th>
                    Pontos
                  </th>
                  <th class="text-center">
                    Histórico
                  </th>
                  <th class="text-center">
                    Status
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="!loading">
                <tr *ngFor="let user of pod;  let i = index">
                    <td class="font-weight-medium">
                      {{i + 1}}
                    </td>
                    <td>
                      {{user?.firstName}} {{user?.lastName}}
                    </td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                          aria-valuemax="100"> 
                        </div>
                      </div>
                    </td>
                    <td>
                      {{user?.points}}
                    </td>
                    <td class="text-success text-center"> 1
                      <i class="mdi mdi-arrow-up"></i>
                    </td>
                    <td class="text-center">
                        <label class="badge badge-success">Ativo</label>
                    </td>
                  </tr>
              </tbody>
              <tbody *ngIf="loading">
                <tr *ngFor="let skt of skeleton">
                    <td class="font-weight-medium">
                      <div class="progress">
                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-success text-center">
                      <div class="progress">
                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="progress">
                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
            <div *ngIf="!loading && ((pod && pod.length == 0) || !pod)" class="text-white ticket-card text-center pb-2 pb-3 mb-3 animated fadeIn">
              <div *ngIf="hasServerError">
                <h4 (click)="list()" class="mt-5 text-muted pointer"><i class="mdi mdi-link-variant-off" aria-hidden="true"></i></h4>
                <p  (click)="list()" class="text-muted pointer">Tentar reconectar</p>
              </div>
              <div *ngIf="!hasServerError">
                <h4 class="mt-5 text-muted pointer"><i class="mdi mdi-earth" aria-hidden="true"></i></h4>
                <p class="text-muted pointer">Não há nada aqui</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalhes da turma</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="font-weight-bold">Nome</p>
          <p>{{selectedClass?.name}}</p>
          <p class="font-weight-bold">Descrição</p>
          <p>{{selectedClass?.description}}</p>
          <p class="font-weight-bold">Membros</p>
          <div *ngFor="let user of selectedClass?.userList">
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>