.hint-text {
    opacity: .7;
    line-height: 14px !important;
}

.profile-img-wrapper {
    height: 33px;
    width: 33px;
}

a {
    opacity: 1 !important;
}

.text-name {
    line-height: 1.3;
    color: #007be8;
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 0;
} 

.text-sub {
    font-size: 13px;
    color: #7a8994;
    margin: 0;
    line-height: 1.3;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-l-60 {
    margin-left: 60px !important;
}
