<app-alert-display *ngIf="isCreated || hasServerError || (formError && submitted)"
  [created]="isCreated"
  [serverError]="hasServerError"
  [formError]="formError"
  [page]="'form'"
  (closeType)="closeAlertDisplay($event)">
</app-alert-display>
<div class="row animated fadeInDown">
    <div class="offset-md-2 col-md-8">
      <div class="card box-shadow">
        <div class="card-body">
          <h3 class="mb-4">
            <span><img src="../../../assets/images/forms/event-form-icon.png" alt=""> Novo Evento<span class="pull-right display-5 pointer text-primary"><p><a routerLink="/main/manager/event">voltar</a></p></span></span>
          </h3>
          <form class="needs-validation" novalidate [formGroup]="eventForm">
            <div class="form-row">
              <div class="col-md-12 mb-3 mt-2">
                <p>Título</p>
                <input placeholder="Escolha um título para sua publicação" formControlName="title" type="text" class="form-control mb-3">
                <textarea formControlName="description" [froalaEditor]='options' [(froalaModel)]="froadaDescription" [froalaEditor] class="mb-3"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <p>Começa em</p>
                <input formControlName="startDate" type="date" placeholder="Seu evento começa em" name="bday" max="3000-12-31" min="2019-01-01" class="form-control form-control-fixed mb-3">
              </div>
              <div class="col-md-6">
                <p>Termina em</p>
                <input formControlName="endDate" type="date" placeholder="Seu evento termina em" name="bday" max="3000-12-31" min="2019-01-01" class="form-control form-control-fixed mb-3">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <p>Tags</p>
                <ng-select formControlName="tags" class="form-control form-control-fixed"
                  [items]="search$ | async"
                  [addTag]="loggedUser?.manager"
                  bindLabel="title"
                  bindValue="id"
                  [multiple]="true"
                  [hideSelected]="true"
                  [trackByFn]="trackByFn"
                  [loading]="searchLoading"
                  [typeahead]="searchInput$"
                  placeholder="Selecione uma tag"
                  [(ngModel)]="selectedTags">
                </ng-select>
              </div>
            </div>
          </form>
          <button [disabled]="loading" (click)="create()" class="btn btn-success btn-block mt-3 mb-2">
            <span *ngIf="!loading">Criar</span>
            <span *ngIf="loading"><i class=" mdi mdi-loading mdi-spin"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>