<div class="row animated fadeInDown">
  <div class="col-md-12 pb-3">
    <p class="pt-2">Formulário de eventos</p>
      <form class="needs-validation" [formGroup]="eventForm">
        <p class="card-description">
          Uma breve descrição sobre o que é um evento, suas qualidades e vantagens...
        </p>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="row">
              <p class="col-sm-3 p-12px text-muted">Título</p>
              <div class="col-sm-9">
                <input placeholder="Escolha um título para seu evento" formControlName="title" type="text" class="form-control mb-2">
                <textarea formControlName="description" [froalaEditor]='options' [(froalaModel)]="froadaDescription" [froalaEditor]></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="form-row">
              <p class="col-sm-3 p-12px text-muted">Data inicio</p>
              <div class="col-sm-9">
                <input formControlName="startDate" type="date" placeholder="Seu evento começa em" name="bday" max="3000-12-31" min="2019-01-01" class="form-control form-control-fixed">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="form-row">
              <p class="col-sm-3 p-12px text-muted">Data fim</p>
              <div class="col-sm-9">
                <input formControlName="endDate" type="date" placeholder="Seu evento começa em" name="bday" max="3000-12-31" min="2019-01-01" class="form-control form-control-fixed">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 form-horizontal-row">
            <div class="row">
              <p class="col-sm-2 col-md-3 col-lg-3 p-12px text-muted">Tags</p>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <ng-select formControlName="tags" class="form-control form-control-fixed"
                  [items]="search$ | async"
                  [addTag]="loggedUser?.manager"
                  bindLabel="title"
                  bindValue="id"
                  [multiple]="true"
                  [hideSelected]="true"
                  [trackByFn]="trackByFn"
                  [loading]="searchLoading"
                  [typeahead]="searchInput$"
                  placeholder="Selecione uma tag"
                  [(ngModel)]="selectedTags">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-6 d-flex">
            <button [disabled]="loading" (click)="create()" class="btn btn-success btn-sm mr-3">
              <span *ngIf="!loading">Criar</span>
              <span *ngIf="loading"><i class=" mdi mdi-loading mdi-spin"></i></span>
            </button>
            <button routerLink="/main/manager/event"  class="btn btn-sm btn-light">Voltar</button>
          </div>
        </div>
      </form>
  </div>
</div>
<app-alert-display *ngIf="isCreated || hasServerError || (formError && submitted)"
  [created]="isCreated"
  [serverError]="hasServerError"
  [formError]="formError"
  [page]="'form'"
  (closeType)="closeAlertDisplay($event)">
</app-alert-display>