@import "~@ng-select/ng-select/themes/default.theme.css";


body{
    background-color: #fafafa;
}

#content{
    padding: 5em 3em 0em 16em;
}

/* fix ng-select input */
.ng-select .ng-select-container .ng-value-container {
    align-items: center !important;
    padding-left: 0px !important;
}

.ng-select .ng-select-container {
    background-color: transparent;
    border-radius: 0px !important;
    border: none;
    min-height: 0px !important;
    align-items: center;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 0px; 
    padding-left: 0px;
}

.ng-select.ng-select-multiple .ng-select-container:hover{
    border-color: transparent !important;
    box-shadow: none !important;
}

.ng-select.ng-select-multiple .ng-select-container:not(.ng-select-opened){
    border-color: transparent !important;
    box-shadow: none !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container {
    padding-top: 0px; 
    padding-left: 0px;
}

.ng-select.ng-select-single .ng-select-container {
    height: 17px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 0px;
    left: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.ng-select.ng-select-single .ng-select-container:hover{
    border-color: transparent !important;
    box-shadow: none !important;
}

.ng-select.ng-select-single .ng-select-container:not(.ng-select-opened){
    border-color: transparent !important;
    box-shadow: none !important;
}

.header{
    padding-top: 30px;
}

.title-header{
    font-size: 24px;
    margin-top: 0px;
    color: #6f6f6f;
}

.card-size-250{
    max-height: 250px;
    min-height: 250px;
    overflow-y: auto;
}

.card-size-630{
    max-width: 600px;
    min-width: 600px;
    overflow-y: auto;
}

.btn-mini{
    padding: 0.2rem 0.6rem !important;
    margin-top: -7px !important;
}

.btn-mini i{
    margin-right: 0rem;
}

.header-theme{
    color: #231f20 !important;
    background-color: #ffffff !important;
    border-bottom: 1px solid #e6e6e6;
}

.header-theme i{
    color: #919191;
}

.box-shadow{
    border: 1px solid #e6e6e6;
}

.theme-btn{
    color: white;
    background-color: #8f3988;
}

.theme-color{
    background-color: #461a42;
}

.theme-font-color{
    color:#393A68;
}

.theme-btn:hover{
    color: white;
    background-color: #461a42 !important;
    border-color: #461a42 !important;
}

.pointer{
    cursor: pointer;
}

.form-control-fixed{
    height: 41px !important;
}

.form-control-fixed .ng-placeholder {
    top: 1px !important;
    color: #bebebe !important; 
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 3px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dad7d7;
}


.btn.btn-icons.btn-icons-mini {
    width: 25px !important;
    height: 25px !important;
    padding: 2px !important;
}

.side-color{
    background-color: #2b303b;
}

.side-top-color{
    line-height: 60px;
    background-color: #272b35;
    border-bottom: 1px solid #232730;
    color: #fff;
    padding: 20px;
}

.text-muted{
    color: #95939b !important;
}

.scroll{
    max-height: 25rem;
    min-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-wrapper{
    height: 100%;
}

.btn-zoom{
    transition: transform .1s;
}

.btn-success-zoom:hover{  
    font-size: 13px;
    margin-top: 1px;
    text-shadow: 0 0 10px #00ce68;
    transition: 0.1s;
    filter: blur(2px); /* Standard */
-webkit-filter: blur(2px); /* Standard */
}

.btn-warning-zoom:hover{  
    font-size: 17px;
    margin-top: -2px;
    text-shadow: 0 0 2px #ffaf00 ;
    transition: 0.1s;
}

.btn-muted-zoom:hover{  
    font-size: 17px;
    margin-top: -2px;
    text-shadow: 0 0 2px #95939b ;
    transition: 0.1s;
}

.mt-4px{
    margin-top: 4px !important;
}

.mt-2px{
    margin-top: 2px !important;
}


/* LOGIN PAGE */

#background-login {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */
}

#background-login {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
}

#background-login img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    height: 100%;
    position: absolute;
}


/* ALERT */

.my-alert{
    position: fixed;
    z-index: 99999;
    right: 1%;
    top: 0px;
}

.my-alert-form{
    position: fixed;
    z-index: 9999;
    right: 1%;
    bottom: 0;
}

.my-alert-login{
    position: fixed;
    z-index: 9999;
    right: 35.5%;
    bottom: 0;
}


/* INPUT */

.input-search{
    font-weight: 300;
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-left-style: none;
    border-radius: 0px;
    border-color: #a9a7ad;
}

.input-search:hover{
    font-weight: 300;
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-left-style: none;
    border-radius: 0px;
    border-color: #a9a7ad;
}

.input-search:focus{
    border-color: #a9a7ad;
    background-color: transparent;
}

.ticket-card:hover {
    background-color: #f5f5f59c;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.no-border{
    border-radius: 0px !important;
}

.fill-height{
    min-height: -webkit-fill-available;
}

.card-transparent{
    background-color: transparent
}

.no-link-decoration{
    pointer-events: none; 
}

.ellipsis-15{
    max-width: 30ch;
    max-height: 4ch;
    min-height: 4ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.form-horizontal-row{
    border-bottom: 1px solid #e6e6e6;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 0;
}

.form-horizontal-row:hover{
    color: #888888;
}

.p-8px{
    padding: 8px;
}