<div class="jumbotron cover-photo" data-social="cover" data-pages="parallax" data-scroll-element=".page-container">
  <div class="container pull-bottom">
    <h5 class="text-white no-margin">{{extension?.expertise?.title}}</h5>
    <h1 class="text-white no-margin">
      <!-- <span class="font-weight-bold ">{{selectedUser?.firstName}}</span> -->
      <span> {{extension?.name}}</span>
    </h1>
  </div>
  <button class="btn btn-xs btn-primary float-right">Editar</button>
</div>
<div class="row animated fadeInDown pb-3">
  <div class="col-md-8">
    <!-- <form class="needs-validation" novalidate [formGroup]="commentForm">
      <div class="form-row">
        <div class="col-md-12 mb-3 mt-2">
          <textarea formControlName="body" rows="4" placeholder="No que você está pensando?" type="text" class="form-control mb-3"></textarea>
          <button (click)="create()" class="btn btn-xs btn-primary">Publicar</button>
        </div>
      </div>
    </form> -->
    <div *ngFor="let publication of publicationList">
      <div class="card box-shadow">
        <div class="card-body">
          <app-user-display [userObject]="publication?.creator"></app-user-display>
          <div class="pl-2" style="border-left: 2px solid #e4e4e4 !important;">
            <h4 class="pt-3">{{publication?.title}}</h4>
            <p class="border-left" [innerHTML]="publication?.description" >{{publication?.desciption}}</p>
            <p class="text-gray">
              <small>Publicado em {{publication?.createdAt}}, 
                <span>2</span>
                <span *ngIf="publication?.likes <=1"> curtida</span>
                <span *ngIf="publication?.likes > 1"> curtidas</span>
              </small>
            </p>
          </div>
          <button (click)=like() class="btn btn-xs btn-link ml-0 pl-0 mr-2"><i class="mdi mdi-star"></i> Curtir</button>
          <button (click)="showComment = true;" id="btn-comment" class="btn btn-xs btn-link ml-0 pl-0"><a ><i class="mdi mdi-reply"></i> Responder</a></button>
          <section class="mt-2" *ngIf="publication?.comments && publication?.comments.length > 0" id="comments">
            <span>
              <h4 *ngIf="publication?.comments?.length > 1">{{publication?.comments?.length}} respostas</h4>
              <h4 *ngIf="publication?.comments?.length <= 1">{{publication?.comments?.length}} resposta</h4>
            </span>
            <div class="pl-3" *ngFor="let comment of publication?.comments">
              <div class="pt-2 pb-2">
                <app-user-display [userObject]="comment?.creator"></app-user-display>
                <div class="pl-2" style="border-left: 2px solid #e4e4e4 !important;">
                  <p>{{comment?.body}}</p>
                  <small class="text-gray">
                    <span class="weather-date">Publicado em {{comment?.createdAt}}</span>
                  </small>
                </div>
              </div>
            </div>
          </section>
          <footer *ngIf="showComment" class="pt-4" data-spy="scroll" data-target="#btn-comment">
            <section class="animated fadeInDown" id="my-answer">
              <form class="needs-validation" novalidate [formGroup]="commentForm">
                <div class="form-row">
                  <div class="col-md-12 mb-3 mt-2">
                    <textarea formControlName="body" rows="4" placeholder="Escreva um comentário" type="text" class="form-control mb-3"></textarea>
                    <button (click)="sendComment(publication)" class="btn btn-xs btn-primary">Enviar</button>
                  </div>
                </div>
              </form>
            </section>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card box-shadow">
          <div class="card-body">
            <span class="card-title">Membros</span>
            <button type="button" class="btn btn-xs btn-success float-right"><i class="mdi mdi-plus"></i></button>
          </div>
          <div class="fluid-container scroll-20 border-top">
            <div *ngIf="!loading && extension?.requests && extension?.requests?.length > 0" class="animated fadeIn">
              <div *ngFor="let request of extension?.requests | filter: filter; let i = index" class="ticket-card border-bottom pointer p-3 align-items-center">
                <app-user-display 
                  [userObject]="request" 
                  [simpleLayout]="true" 
                  [noAction]="false"
                  [noLink]="true"
                  (selectedAction)="memberRequest($event, request)">
                </app-user-display>
              </div>
            </div>
            <div *ngIf="!loading && extension?.members && extension?.members?.length > 0" class="animated fadeIn">
              <div *ngFor="let member of extension?.members | filter: filter; let i = index" class="ticket-card border-bottom pointer p-3 align-items-center">
                <app-user-display 
                  [userObject]="member"
                  [simpleLayout]="true" 
                  [noAction]="true">
                </app-user-display>
              </div>
            </div>
            <div *ngIf="!loading && extension?.members?.length == 0" class="text-center p-6">
              <div *ngIf="hasServerError">
                <h4 (click)="list()" class="text-muted pointer"><i class="mdi mdi-link-variant-off" aria-hidden="true"></i></h4>
                <p  (click)="list()" class="text-muted pointer">Tentar reconectar</p>
              </div>
              <div *ngIf="!hasServerError">
                <h4 class="text-muted pointer"><i class="mdi mdi-earth" aria-hidden="true"></i></h4>
                <p class="text-muted pointer">Não há nada aqui</p>
              </div>
            </div>
            <div *ngIf="loading" class="display-3 text-primary text-center p-6">
              <i class=" mdi mdi-loading mdi-spin"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 pt-3">
        <div class="card box-shadow">
          <div class="card-body">
            <span class="card-title">Eventos</span>
          </div>
          <div class="fluid-container scroll-20 border-top">
            <div *ngIf="!loadingEvents && extension?.events && extension?.events?.length > 0" class="animated fadeIn">
              <div *ngFor="let event of extension.events | filter: filter; let i = index" class="row ticket-card border-bottom pointer p-2 align-items-center">
                <div class="ticket-details col-md-6">
                    <p class="text-dark mr-2 mb-0 ellipsis">{{event?.title}}</p>
                  <p class="text-gray ellipsis mb-0">{{event?.local}}</p>
                </div>
                <div class="col-md-6 text-right"> 
                  <p class="text-gray ellipsis">{{event?.startDate}}</p>
                </div>
              </div>
            </div>
            <div *ngIf="!loadingEvents && extension?.events?.length == 0" class="text-center p-6">
              <div *ngIf="hasServerError">
                <h4 (click)="list()" class="text-muted pointer"><i class="mdi mdi-link-variant-off" aria-hidden="true"></i></h4>
                <p  (click)="list()" class="text-muted pointer">Tentar reconectar</p>
              </div>
              <div *ngIf="!hasServerError">
                <h4 class="text-muted pointer"><i class="mdi mdi-earth" aria-hidden="true"></i></h4>
                <p class="text-muted pointer">Não há nada aqui</p>
              </div>
            </div>
            <div *ngIf="loadingEvents" class="display-3 text-primary text-center p-6">
              <i class=" mdi mdi-loading mdi-spin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #memberRequestModal identifier="memberRequestModal" [closable]="false" [dismissable]="false" [customClass]=""> 
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Você confirma esta ação?</h5>
  </div>
  <div class="modal-body">
    <p *ngIf="selectedRequest?.action == 'accept'">
      <span class="font-weight-bold">{{selectedRequest?.firstName}} {{selectedRequest?.lastName}}</span> 
      está pedindo para fazer parte do seu projeto de extensão
    </p>
    <p  *ngIf="selectedRequest?.action == 'decline'">
      Recusar pedido de 
      <span class="font-weight-bold">{{selectedRequest?.firstName}} {{selectedRequest?.lastName}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="modal.getModal('memberRequestModal').close()">cancelar</button>
    <button class="btn btn-sm btn-success" (click)="answerMemberrequest()">Confirmar</button>
  </div>
</ngx-smart-modal>